@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/bulma.sass";

.main-body {
  display: flex !important;
}

nav {
  position: fixed;
}

nav .container {
  max-width: 95%;
}

.sidebar {
  width: 25%;
  padding: 15px;
  background-color: #343a40;
}
.sidebar .sidebar-heading > div {
  font-size: 1.4rem;
  padding-bottom: 5px;
}

.sidebar .divider {
  border-top: 1px solid white;
  width: 100%;
}

.sidebar .list svg {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.sidebar .menu-list a:hover {
  color: white;
  background-color: transparent;
}

.sidebar .active {
  background-color: transparent;
  color: white;
}

.sidebar ul li {
  padding-bottom: 0.4rem;
}

.sidebar ul li > a,
.sidebar ul li > .custom-list-container {
  color: #a6a2a2;
}

.sidebar .menu-label {
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: hsl(0, 0%, 71%);
}
.sidebar .list {
  display: flex;
  align-items: center;
}
.sidebar .list span:nth-child(2) {
  padding-left: 10px;
}

@media only screen and (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
  }
  .sidebar .sidebar-heading > div {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .sidebar .list {
    display: block;
  }
  .sidebar .list span{
    width: 100%;
    font-size: 0.95rem;
    margin-left: 10px;
  }
  .sidebar .list svg{
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .sidebar {
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 30%;
  }
}
