@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/bulma.sass";

.main-body {
  display: flex;
  & > input {
    display: none;
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: none;
  }
}

.main {
  width: 100%;
}

nav {
  .custom-container {
    max-width: 95%;
    margin: auto;
  }
  .my-burger {
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
  }
  .custom-navbar-item {
    padding-left: 0;
  }
  .custom-navbar-item:hover {
    background: transparent !important;
  }
}

.sidebar {
  width: 20%;
  padding: 15px;
  background-color: #343a40;
  .sidebar-heading > div,
  .sidebar-heading > a {
    font-size: 1.4rem;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .divider {
    border-top: 1px solid #575656;
    width: 100%;
  }
  .list svg {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  .menu-list a:hover {
    color: white;
    background-color: transparent;
  }
  .active,
  .nuxt-link-active {
    background-color: transparent;
    color: white;
  }
  ul li {
    padding-bottom: 0.4rem;
    & > a {
      color: #a6a2a2;
    }
  }
  ul input[type="checkbox"] {
    display: none;
  }
  .hide {
    display: none;
    transition: display 2s;
  }
  ul input[type="checkbox"]:checked ~ .hide {
    display: block;
  }
  .menu-label {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: hsl(0, 0%, 71%);
  }
  .list {
    display: flex;
    align-items: center;
  }
  .list label,
  .list p {
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar {
    display: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    .sidebar-heading > a {
      font-size: 1.2rem;
      padding-bottom: 5px;
    }
    .list {
      display: block;
    }
    .list span {
      width: 100%;
      font-size: 0.95rem;
      margin-left: 10px;
    }
    .list svg {
      width: 100%;
    }
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: block !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .sidebar {
    display: none;
    width: 60%;
    padding-left: 10px;
    padding-right: 20px;
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    display: none;
    width: 30%;
  }
  input[type="checkbox"]:checked ~ .sidebar {
    display: block !important;
  }
}
